<main class="main">
    <h2>Redes Sociales</h2>
    <div class="redes">
        <mat-card class="redes__card">
            <mat-card-header class="redes__card__title">
                <mat-card-title>
                    <a href="https://www.instagram.com/inakigarro" target="_blank">
                        <span>Instagram</span>
                    </a>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <a href="https://www.instagram.com/inakigarro" target="_blank">
                    <img src="../../assets/ig-perfil.jpg" alt="zaky7tw profile picture">
                </a>
            </mat-card-content>
        </mat-card>
        <mat-card class="redes__card">
            <mat-card-header class="redes__card__title">
                <mat-card-title>
                    <a href="https://www.twitch.com/zaky7lol" target="_blank">
                        <span>Twitch</span>
                    </a>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <a href="https://www.twitch.com/zaky7lol" target="_blank">
                    <img src="../../assets/zaky.png" alt="zaky7lol profile picture" width="150" height="150">
                </a>
            </mat-card-content>
        </mat-card>
        <mat-card class="redes__card">
            <mat-card-header class="redes__card__title">
                <mat-card-title>
                    <a href="https://www.twitter.com/inakigarro" target="_blank">
                        <span>Twitter</span>
                    </a>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <a href="https://www.twitter.com/inakigarro" target="_blank">
                    <img src="../../assets/twitter-perfil.jpg" alt="inakigarro profile picture" width="150"
                        height="150">
                </a>
            </mat-card-content>
        </mat-card>
        <mat-card class="redes__card">
            <mat-card-header class="redes__card__title">
                <mat-card-title>
                    <a href="https://github.com/Inakigarro" target="_blank">
                        <span>GitHub</span>
                    </a>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <a href="https://github.com/Inakigarro" target="_blank">
                    <img src="../../assets/github-dark.png" alt="github logo" width="150" height="150">
                </a>
            </mat-card-content>
        </mat-card>
    </div>
</main>