$h2-height: 50px;

.main {
  height: calc(100vh - (var(--header-height)));
  background-color: #303030;
  h2 {
    text-align: center;
    height: $h2-height;
    margin: auto;
    box-sizing: border-box;
    color: white;
    width: fit-content;
  }
  .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100% - $h2-height);
    &__card {
      padding: 5px;
      background-color: #fafafa;
      margin: 10px;
      &__title {
        justify-content: center;
        padding: 0;
        a {
          text-decoration: none;
          color: black;
          &:active {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
  }
}
